{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% trans_default_domain 'application'  %}
{% block subject %}
 {{ 'email.resetting.subject'|trans() }}
{% endblock subject %}

{% block body_html %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <p>{{ 'email.resetting.text1'|trans({'%username%': username }) }}</p>
    <p>{{ 'email.resetting.text2'|trans }}</p>
    <p>{{ 'email.resetting.text3'|trans }}</p>
    <a href="{{ urlConfirmation }}">Lien</a>
    <p>{{ 'email.resetting.text4'|trans({'%urlConfirmation%': urlConfirmation } ) }}</p>
    <p>{{ 'email.resetting.text5'|trans({'%siteName%': siteName|upper  } ) }}</p>
</body>
</html>
{% endblock body_html %}
