{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% extends "OodUserBundle:Resetting:layout_step_by_step.html.twig" %}
{% trans_default_domain 'application' %}
{% block layout_step_by_step %}
    <div class="segment">
        <div class="form-resetting-title">
            <h4>{{ 'uc_resetting.step1_title'|trans }}</h4>
        </div>
        <div class="form-resetting-form">
            {{ form_start(form, {'attr': {'novalidate':'novalidate', 'class':'was-validated' }} ) }}
                <div class="form-group">
                    {{ form_widget(form.username, {'attr' : {'placeholder' : 'resetting_request.username.label' }} ) }}
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
                <div>
                    {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-primary w-100'}} ) }}
                    {{ form_label(form.submit) }}
                </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock layout_step_by_step %}
