{#
    This file is part of oc_snowtricks project

    @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
    @since 2018/03

    The main layout to error page
#}
{% trans_default_domain 'error' %}
<!doctype html>
<html lang="{{ app.request.locale|split('_')[0] }}" class="h-100">
<head>
    <meta charset="{{ _charset }}"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body class="h-100">
<div class="container h-100">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center col-12 text-center">
        {% block error %}{% endblock error %}
        <div>
            <a href="{{ app.request.baseUrl }}" class="btn btn-primary btn-lg">{{ 'outing.homepage'|trans }}</a>
            <a href="{{ app.request.baseUrl }}" class="btn btn-default btn-lg">{{ 'outing.contact_us'|trans }}</a>
        </div>
    </div>
</div>
</body>
</html>
