{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% extends "layout.html.twig" %}

{% trans_default_domain 'application' %}
{% block main %}

<div class="v-container">
    <div class="container">
        <div class="form-user">
            <div class="form-user-title text-center">
                <h3>{{ 'login.title'|trans }}</h3>
            </div>
            <div class="form-user-form">
                <form action="{{ path('ood_user_security_login') }}" method="post" novalidate="novalidate"
                      class="form-signin {% if error %} error{% endif %}">
                    <div class="form-group">
                        <input type="email" id="username" name="_username" value="{{ last_username }}"
                               class="form-control"
                               placeholder="{{ 'login.username.label'|trans }}" tabindex="1" autofocus required>
                        <label for="username">{{ 'login.username.label'|trans }}</label>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password"
                               class="form-control"
                               placeholder="{{ 'login.password.label'|trans }}" tabindex="2" required>
                        <label for="password">{{ 'login.password.label'|trans }}</label>
                    </div>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <div>{{ 'login.error'|trans|nl2br }}</div>
                        </div>
                    {% endif %}
                    <div class="my-2">
                        <a href="{{ path('ood_user_resetting_request') }}" id="resetting-request" tabindex="4">{{ 'login.form-resetting.label'|trans }}</a>
                    </div>
                    <input type="hidden" name="_crsf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <input type="submit" id="_submit" name="_submit" value="{{ 'login.submit.label'|trans|upper }}"
                           class="btn btn-lg btn-primary btn-block" tabindex="3">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block title %}{{ 'login.page_title'|trans }}{% endblock title %}
{% block page %}login{% endblock page %}
