{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/02
 #}
{% trans_default_domain 'application' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="none, nofollow"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/application.js') }}"></script>
</head>
<body id="page-{% block page %}{% endblock page %}">
<header>
    <div class="i-container">
    {{ include('menu.html.twig') }}
    </div>
</header>
<main>
    <div class="i-container">
    {{ include('layout.message.html.twig') }}
    {% block main %}{% endblock main %}
    </div>
</main>
<footer>
    <div class="i-container">
{{ include('layout.footer.html.twig') }}
</div>
</footer>
</body>
</html>
