{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% trans_default_domain 'application' %}

{% set myRoute = app.request.get('_route') %}
<div class="right menu">
    {% if app.user %} {# user is logged in #}
        <a href="{{ path('ood_user_security_logout') }}"
           class="item">
            <i class="sign out icon" aria-hidden="true"></i>
            {{ 'menu.logout'|trans }}
        </a>
    {% else %} {# user is not logged in #}
        {# link: Login #}
        {% if not ('ood_user_security_login' == myRoute) %}
            <a href="{{ path('ood_user_security_login') }}"
               class="item">
                <i class="sign in icon" aria-hidden="true"></i>
                {{ 'menu.login'|trans }}
            </a>
        {% endif %}
        {# link: registration #}
        {% if not ('ood_user_registration_register' == myRoute) %}
            <a href="{{ path('ood_user_registration_register') }}"
               class="item">
                <i class="add user icon" aria-hidden="true"></i>
                {{ 'menu.register'|trans }}
            </a>
        {% endif %}
    {% endif %}
</div>
