{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% trans_default_domain 'application' %}
{% set myRoute = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('ood_blog_post_list') }}">{{ 'menu.brand'|trans|upper }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {% if ('ood_blog_post_list' == myRoute)
                or (myRoute is null) %}active{% endif %}">
                <a class="nav-link" href="{{ path('ood_blog_post_list') }}">{{ 'menu.tricks'|trans }}<span
                            class="sr-only">(current)</span></a>
            </li>
            {% if (app.user) %} {# user is logged in #}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item"
                       href="{{ path('ood_user_profile_edit') }}">{{ 'menu.profile'|trans }}</a>
                    <a class="dropdown-item"
                       href="{{ path('ood_user_security_logout') }}">{{ 'menu.logout'|trans }}</a>
                </div>
            </li>
            {% else %} {# user is not logged in #}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Mon compte</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {# link login #}
                    {% if not ('ood_user_security_login' == myRoute) %}
                        <a class="dropdown-item"
                           href="{{ path('ood_user_security_login') }}">{{ 'menu.login'|trans }}</a>
                    {% endif %}
                    {# link registration #}
                    {% if not ('ood_user_registration_register' == myRoute) %}
                        <a class="dropdown-item"
                           href="{{ path('ood_user_registration_register') }}">{{ 'menu.register'|trans }}</a>
                    {% endif %}
                </div>
                {% endif %}
        </ul>
    </div>
</nav>
