{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/04
 #}
{{ form_start(form, {'attr' : {novalidate: 'novalidate', 'class':'was-validate'}} ) }}
<div class="form-group">
    {{ form_widget(form.name, {'attr': {'placeholder': 'category_form.name.label' }} ) }}
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
</div>
<div class="form-group">
    {{ form_widget(form.description, {'attr': {'placeholder': 'category_form.description.label' }} ) }}
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
</div>
{{ form_widget(form.submit, {'attr': {'class' : 'btn btn-primary'}} ) }}
{{ form_rest(form) }}
{{ form_end(form) }}
