{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/03
 #  */
 #}
{% extends 'layout.html.twig' %}

{% trans_default_domain 'application' %}
{% block main %}
    <section id="figures" class="medias">
        <div class="content">
            <div class="container-fluid">
                <h1># {{ category.name }}</h1>
                <p>{{ category.description|nl2br }}</p>
            </div>
            {% if posts == false %}
                {# View with nothing posts #}
                <div id="msgNoResult">Aucun résultat</div>
            {% else %}
                {# View with posts list #}
                <div class="postsListContainer p-2">
                    <form id="searchPostsForm" action="{{ vURL }}">
                        <input type="hidden" value="{{ paginator.current_page }}" name="page"
                               id="searchPostsForm_page">
                    </form>
                    <div class="cards postsList d-flex flex-wrap justify-content-center">
                {{ include ('@OodBlog/Post/list_content.html.twig') }}
            </div>
                </div>
            {% endif %}
        </div>
        <div class="gutter">
            {# view Button + Arrow infinite scroll #}
            <div id="infiniteScroll" class="d-flex justify-content-around w-100">
                {% if paginator.remaining_results > 0 %}
                    <a class="js-infiniteScroll border p-2 m-2" href="{{ vURL }}"
                       data-restof="{{ paginator.remaining_results }}"
                       data-total="{{ paginator.nb_results }}"
                       data-item-by-page="{{ paginator.max_per_page }}">
                        <span><i class="fa fa-2x fa-spinner"></i></span>
                        <span>Load more</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
    <script>
      $(document).ready(function () {
        infinite_scroll.init()
        post_remove.init()
      })
    </script>
{% endblock main %}

{% block title %}{{ 'posts_list.page_title'|trans }}{% endblock title %}
{% block page %}figures{% endblock page %}
