{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/03
 #  */
 #}
{% extends 'layout.html.twig' %}

{% trans_default_domain 'application' %}
{% block main %}

<section id="head">
    <div class="content">
    </div>
    <div class="gutter">
        <a href="#figures">
            <i class="fa fa-angle-down fa-4x"></i>
        </a>
    </div>
</section>

<section id="figures" class="medias">
    <div class="content">
        {% if posts == false %}
        {# View with nothing posts #}
        <div id="msgNoResult">Aucun résultat</div>
        {% else %}
        {# View with posts list #}
        <div class="postsListContainer p-2">
            <form id="searchPostsForm" action="{{ path(vURL) }}">
                <input type="hidden" value="{{ page }}" name="page" id="searchPostsForm_page">
            </form>
            <div class="cards postsList d-flex flex-wrap justify-content-center justify-content-md-start">
                {{ include ('@OodBlog/Post/list_content.html.twig') }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="gutter">
        {# view Button + Arrow infinite scroll #}
        <div id="infiniteScroll" class="d-flex justify-content-around w-100">
            <a href="#head">
                <i class="fa fa-4x fa-angle-up"></i>
            </a>
            {% if restOfPosts > 0 %}
                <a class="js-infiniteScroll" href="{{ path(vURL) }}"
                   data-restof="{{ restOfPosts }}"
                   data-total="{{ totalPosts }}"
                   data-item-by-page="{{ itemsPerPage }}">
                    {##}
                    {#{{ 'posts_list.infinitescroll'|trans({#}
                    {#'%number_item_next%': '<span id=\"numberItemNext\">' ~ numberItemNext ~ '</span>'#}
                    {#}, 'application')|raw }} <br/>#}
                    <i class="fa fa-4x fa-angle-down"></i>
                </a>
            {% endif %}
        </div>
    </div>
</section>
<script>
  $(document).ready(function() {
        infinite_scroll.init();
        post_remove.init();
  });
</script>
{% endblock main %}

{% block title %}{{ 'posts_list.page_title'|trans }}{% endblock title %}
{% block page %}figures{% endblock page %}
