{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #}
{% for post in posts %}
    <div class="st_card">
        {% if post.images is not empty %}
            {% set image = post.images|first %}
            <img class="img-fluid" src="{{ asset(image.webpath) }}"
                 alt="{{ image.alt }}">
        {% elseif post.videos is not empty %}
            {% set video = post.videos|first %}
            <div class="embed-responsive embed-responsive-16by9">
                {{ video.embed|raw }}
            </div>
        {% else %}
            <img class="img-fluid" src="{{ asset('img/image-not-found.png') }}"
                 alt="image not found">
        {% endif %}
        <div class="infos">
            <div class="d-flex">
                <a class="card-title mr-auto m-1 w-100 d-block"
                   href="{{ path('ood_blog_post_show', {"slug" : post.header.slug, "uniqueID" : post.uniqueID} ) }}">{{ post.header.title }}</a>
                {% if is_granted('ROLE_BLOGGER') %}
                    <a class="btn btn-sm btn-light m-1" role="button"
                       href="{{ path('ood_blog_post_edit', {"postId" : post.idPost} ) }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a class="js-remove-post btn btn-sm btn-light m-1" role="button"
                       href="{{ path('ood_blog_post_remove', { "postId": post.idPost } ) }} ">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
