{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/03
 #  */
 #}
{% extends 'layout.html.twig' %}

{% trans_default_domain 'application' %}
{% block main %}
    <section id="head">
        <div class="action">
            {% if is_granted('ROLE_BLOGGER') %}
                <a class="btn btn-sm btn-light m-1" role="button"
                   href="{{ path('ood_blog_post_edit', {"postId" : post.idPost} ) }}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-light m-1" role="button"
                   href="{{ path('ood_blog_post_remove', { "postId": post.idPost } ) }} ">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        {% if post.images is not empty %}
            {% set image = post.images|first %}
            <img class="" src="{{ asset(image.webpath) }}" alt="{{ image.alt }}">
        {% elseif post.videos is not empty %}
            {% set video = post.videos|first %}
            <div class="embed-responsive embed-responsive-16by9">
                {{ video.embed|raw }}
            </div>
        {% else %}
            <img class="" src="{{ asset('img/image-not-found.png') }}" alt="image not found">
        {% endif %}
    </section>
    <h1 style="display: none;">{{ post.header.title }}</h1>
    <h4 style="display: none;">{{ post.header.brief }}</h4>

    <section id="medias" class="d-none d-sm-block">
        <div class="cards d-flex flex-wrap justify-content-center">
            <!-- images -->
            {% for image in post.images %}
                <div class="st_card">
                    <img id="image_{{ image.idImage }}" class="img-fluid" src="{{ asset(image.webpath) }}"
                         alt="{{ image.alt }}">
                </div>
            {% endfor %}
            <!-- videos -->
            {% for video in post.videos %}
                <div class="st_card">
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ video.embed|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="content" class="container">
        <!-- Text content -->
        <p class="p-4">{{ post.body.content }}</p>
        <!-- Extra information -->
        <div class="d-flex justify-content-center flex-column flex-sm-row">
            <div class="p-2 m-1 border border-info rounded">{{ post.createAt|date() }}</div>
            <div class="p-2 m-1 border border-dark">{{ post.category.name }}</div>
            <div class="p-2 m-1 border border-info rounded">{{ post.updateAt|date }}</div>
        </div>
        <hr/>
    </section>
    <section id="comments" class="container">
        {% if is_granted('ROLE_AUTHOR') %}
        {{ render(controller('OodCommentBundle:ThreadComment:newComment', {threadId : post.idPost} )) }}
        <hr class="divider">
        {% endif %}
        {{ render(controller('OodCommentBundle:ThreadComment:thread', {threadId : post.idPost} )) }}
    </section>
{% endblock main %}


{% block title %}Figure - {{ post.header.title }}{% endblock title %}
{% block page %}figure{% endblock page %}
