{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% extends 'layout.admin.html.twig' %}

{% trans_default_domain 'application' %}
{% block content %}
<!-- Main Content -->
<div class="container">
    {{ form_start(form,  {attr : {novalidate: 'novalidate', 'class':'was-validated'}} ) }}
    <div class="form-group">
    {{ form_widget(form.body, {attr: {'placeholder' : 'comment_edit.placeholder' }} ) }}
    {{ form_label(form.body) }}
    {{ form_errors(form.body) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock content %}
