{#
 # /**
 #  * This file is part of oc_snowtricks project
 #  *
 #  * @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 #  * @since 2018/02
 #  */
 #}
{% extends "layout.html.twig" %}
{% trans_default_domain 'application' %}

{% block main %}
    <div class="v-container">
        <div class="container">
            <div class="form-registration form-signin">
                <div class="form-registration-title text-center">
                    <h3>{{ 'registration.title'|trans }}</h3>
                </div>
                <div class="form-registration-form">
                    {{ form_start(form, {'attr' : {'class':'was-validated', 'novalidate':'novalidate'}} ) }}
                    <div class="form-group">
                        {{ form_widget(form.email, {'attr' : {'placeholder': 'registration.email.label' }} ) }}
                        {{ form_label(form.email)}}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.username, {'attr' : {'placeholder': 'registration.username.label' }} ) }}
                        {{ form_label(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, {'attr' : {'placeholder': 'registration.plain_password.label' }} ) }}
                        {{ form_label(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, {'attr' : {'placeholder': 'registration.plain_password_repeat.label' }} ) }}
                        {{ form_label(form.plainPassword.second) }}
                    </div>
                    {{ form_widget(form.submit, {'attr': {'class':'btn btn-lg btn-primary btn-block'}} ) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block title %}{{ 'registration.page_title'|trans }}{% endblock title %}
{% block page %}registration{% endblock page %}
