{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% extends "layout.html.twig" %}

{% trans_default_domain 'application' %}
{% block main %}
    <div id="profile" class="container">
        <h1>{{ 'profile.title'|trans }}</h1>
        {{ form_start(form, {'attr' : { novalidate: 'novalidate', class:'was-validated' }} ) }}
        <div class="row">
            <div class="image photo col-12 col-md-6 py-3 py-sm-0">
                {% if ( form.vars.value.photo ) %}
                    <img src="{{ asset(form.vars.value.photo.webPath) }}" alt="{{ form.vars.value.photo.alt }}"
                         class="img-thumbnail rounded mx-auto d-block">
                {% else %}
                    <img src="{{ asset('img/image-not-found.png') }}" alt="not found"
                         class="img-thumbnail rounded mx-auto d-block">
                {% endif %}
                <div class="input_file-container">
                    {{ form_widget(form.photo) }}
                    {{ form_label(form.photo) }}
                    {{ form_errors(form.photo) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                {{ form_widget(form.lastname) }}
                {{ form_label(form.lastname) }}
                </div>
                <div class="form-group">
                {{ form_widget(form.firstname) }}
                {{ form_label(form.firstname) }}
                </div>
                <div class="form-group">
                {{ form_widget(form.username) }}
                {{ form_label(form.username) }}
                </div>
                <div class="form-group">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
                </div>
                <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class':'btn btn-primary w-100'} } ) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <script>
    $(document).ready( function() {picture_upload.init();});
    </script>
{% endblock main %}

{% block title %}{{ 'profile.page_title'|trans }}{% endblock title %}
{% block page %}profile_edit{% endblock page %}

