{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{# a partial view of a single comment #}
<div id="comment_{{ comment.idComment }}" class="comment">
    {% if (comment.author.photo is null) %}
        <span class="fa-stack fa-lg avatar">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
        </span>
    {% else %}
        <img src="{{ asset(comment.author.photo.webPath) }}" class="avatar"/>
    {% endif %}
    <div class="content">
        <div class="d-flex w-100">
            <h6 class="mr-2">{{ comment.author.username }}</h6>
            <small class="text-muted">{{ comment.updateAt|localizeddate('full', 'short', null, null, "EEE dd MMM yyyy  H:mm" ) }}</small>
        </div>
        <p id="comment_body_{{ comment.idComment }}" class="my-0">
            {{ comment.body }}
        </p>
    </div>
</div>
