{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}

{{ form_start(form, {attr : {novalidate: 'novalidate', 'class':'was-validated'}} ) }}
<div class="form-group">
{{ form_widget(form.body) }}
{{ form_label(form.body) }}
</div>
{{ form_row(form.submit) }}
{{ form_rest(form) }}
{{ form_end(form) }}

<script>
  $(document).ready(function () {
    addComment.init()
  })
</script>
