{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% trans_default_domain 'application' %}

<!-- Comments -->
{% if thread %}
    <div class="container-fluid">
        <form id="searchCommentsForm" action="{{ vURL }}">
            <input type="hidden" value="{{ page }}" name="page" id="searchCommentsForm_page">
        </form>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h4>{{ thread.numberOfComment }} {{ 'comments.title'|transchoice(thread.numberOfComment) }}</h4>
                <hr class="mb-4">
                <div id="comments_list">
                {% include 'OodCommentBundle:ThreadComment:list_content.html.twig' %}
                </div>
            </div>
        </div>
        <div class="row">
            {# view Button + Arrow infinite scroll #}
            <div id="infiniteScroll" class="d-flex justify-content-center w-100">
                {% if restOfComments > 0 %}
                    <a class="js-infiniteScroll" href="{{ vURL }}"
                       data-restof="{{ restOfComments }}"
                       data-total="{{ totalComments }}"
                       data-item-by-page="{{ itemsPerPage }}">
                      <span>
                        {{ 'posts_list.infinitescroll'|trans({
                        '%number_item_next%': '<span id=\"numberItemNext\">' ~ numberItemNext ~ '</span>'
                        }, 'application')|raw }} </span>
                      <span>
                        <i class="fa fa-4x fa-angle-down"></i>
                      </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h4>{{ 'comments.unknown'|trans }}</h4>
{% endif %}

<script>
  //
  // namespace infinite_scroll
  //
  var infinite_scroll = infinite_scroll || {};
  (function (publics) {
    'use strict'

    // ----------------------
    // PRIVATE MEMBERS
    // ----------------------

    /** @type (null|jQuery|HTMLElement) */
    var _infiniteScrollBtn = null
    /** @type {string} */
    var _commentsListSelector = null
    /** @type {null|jQuery|HTMLElement} */
    var _page = null
    /** @type (null|jQuery|HTMLElement} */
    var _searchCommentsForm = null

    // -----------------
    // Privates functions
    //
    var privates = {}

    privates.initVar = function () {
      _infiniteScrollBtn = $('.js-infiniteScroll')
      _commentsListSelector = '#comments_list'
      _searchCommentsForm = $('#searchCommentsForm')
    }

    /**
     * Handler pagination
     *
     * @private
     */
    privates.infiniteScroll = function () {

      /** @var Number _totalComments Number total of comments to display*/
      var totalComments = parseInt(_infiniteScrollBtn.data('total'))
      /** @var Number _itemByPage Maximum number of results from index */
      var itemPerPage = parseInt(_infiniteScrollBtn.data('itemByPage'))

      var restOfComments = totalComments - (parseInt(_page.val()) + 1) * itemPerPage
      var nextItems = (restOfComments > itemPerPage) ? itemPerPage : restOfComments

      if (restOfComments <= 0) {
        _infiniteScrollBtn.hide();
      } else {
        _infiniteScrollBtn.attr('data-restof', restOfComments);
        $('#numberItemNext').text(nextItems);
      }
    }

    /**
     *
     * @private
     */
    privates.onClickInfiniteScrollBtn = function (scope) {
        _page = $('#searchCommentsForm_page');
        // increment number page
        _page.val(parseInt(_page.val()) + 1);
        var vUrl = scope.attr('href');
        var data = _searchCommentsForm.serialize();
        var jqXHR = $.post(vUrl, data);
        jqXHR.done(function (response) {
          privates.infiniteScroll()
          $(response).appendTo(_commentsListSelector)
        }, 'html');
      };

    /**
     * Init
     *
     * @public
     */
    publics.init = function () {
      privates.initVar();
      _infiniteScrollBtn.unbind('click').click ( function (event) {
        event.preventDefault();
        privates.onClickInfiniteScrollBtn($(this));
        return false;
      });
    }
  }(infinite_scroll));


  //
  // namespace addComment
  //
  var addComment = addComment || {};
  (function (publics) {
    'use strict';

    // ------------------------
    // Privates attributes
    //
    /** @var type (jQuery|null) Id Form */
    var _form = null;
    /** @var type (jQuery|null) Id Comment body of the form */
    var _commentBody = null;
    /** @var type (jQuery|null) Id Submit form */
    var _submit = null;
    /** @var type (jQuery|null) Id Comment list wrapper */
    var _commentsList = null;

    // ----------------------
    // Privates functions
    //
    var privates = {};

    /**
     * Init privates attributes
     * @private
     */
    privates.initVar = function () {
      _form = $('#form_comment');
      _commentBody = $("#comment_body");
      _submit = $("#comment_submit");
      _commentsList = $("#comments_list");
    };

    /**
     * Submit add comment form
     * @private
     */
    privates.submitForm = function () {
      var jqXhr = $.ajax({
        url: _form.attr('action'),
        type: 'POST',
        data: _form.serialize()
      });

      // Done
      jqXhr.done(function(response) {
        if (response.hasError) {
          _form.replaceWith(response.form);
        } else {
          var _template = $('<div id="comment_' + response.comment.idComment + '" class="comment mb-4">' +
            '<div class="d-flex w-100">' +
            '<h6 class="mr-2">' + response.comment.username + '</h6>' +
            '<small class="text-muted">' + response.comment.updateAt + '</small>' +
            '</div>' +
            '<p id="comment_body_' + response.comment.idComment + '" class="my-0">' +
            response.comment.body +
            '</p></div>');

          _commentsList.prepend(_template);
          _commentBody.val('').empty();
        }
      });
    }

    /**
     * Init
     *
     * @public
     */
    publics.init = function () {
      privates.initVar();
      _submit.unbind('click').click ( function (event) {
        event.preventDefault();
        privates.submitForm();
        return false;
      });
    }
  } (addComment) );

  /**
   * Document on ready
   */
  $(document).ready(function() {
    infinite_scroll.init();
  });
</script>
