{#
 # This file is part of oc_snowtricks project
 #
 # @author: Sébastien CHOMY <sebastien.chomy@gmail.com>
 # @since 2018/03
 #
 #}
{% trans_default_domain 'application' %}
{% for comment in comments %}
    <div id="comment_{{ comment.idComment }}" class="comment mb-4">
        <div class="d-flex w-100">
            <h6 class="mr-2">{{ comment.author.username }}</h6>
            <small class="text-muted">{{ comment.updateAt|date }}</small>
        </div>
        <p id="comment_body_{{ comment.idComment }}" class="my-0">
            {{ comment.body }}
        </p>
    </div>
{% endfor %}
